:root {

    --bs-primary-rgb: 250, 246, 206;

    --bs-body-bg: #FAF6CE;
    --bs-link-color: #871328;
    --bs-link-color-rgb: 201, 93, 201;

    --bs-emphasis-color: #871328;

    --bs-emphasis-color-rgb: 135, 19, 40;
    --bs-link-hover-color: #612a61;
    --bs-secondary: #FAF6CE;
    --bs-secondary-rgb: 250, 246, 206;

    --bs-border-radius: 0rem;

    --bs-nav-link-font-size: 1.2em;

    --serif-font: "Space Mono", monospace;
    --sans-serif-font: "Space Mono", monospace;


    /* font sizes */
    --fs-sm: clamp(1rem, -0.03vi + 1.01rem, 0.98rem);
    --fs-base: clamp(1.25rem, 0.11vi + 1.22rem, 1.31rem);
    --fs-md: clamp(1.56rem, 0.34vi + 1.48rem, 1.75rem);
    --fs-lg: clamp(1.95rem, 0.69vi + 1.78rem, 2.33rem);
    --fs-xl: clamp(2.44rem, 1.21vi + 2.14rem, 3.11rem);
}

.btn-primary {
    --bs-btn-color: #FAF6CE;
    --bs-btn-bg: #373A4A;
    --bs-btn-border-color: #373A4A;

    --bs-btn-hover-color: #FAF6CE;
    --bs-btn-hover-bg: #2e2c3a;
    --bs-btn-hover-border-color: #2e2c3a;

    --bs-btn-active-color: #FAF6CE;
    --bs-btn-active-bg: #23212c;
    --bs-btn-active-border-color: #2e2c3a;
}

nav .btn {
    --bs-btn-font-size: 1.2em;
}

nav {
    font-family: var(--serif-font);
    font-weight: 900;

    /* border-bottom: #23212c 1px solid; */
}

.nav-link{
    border-bottom: #23212c 2px dotted;
}

/* nav item spacing */
nav li:first-of-type, nav li:last-of-type {
    width: 100%;
    text-align: center;
}

h1, h2, h3, h4, h5 {
    font-family: var(--serif-font);
    font-weight: 900;
    color: #871328;
    padding-bottom: 1em;
}

/* Hero section */
h1 {
    font-size: clamp(2em, 3vw, 3em);
    padding: 1em;
}

h2 {
    font-size: clamp(1.7em, 2.7vw, 2.7em);
}

h3 {
    font-size: clamp(1.4em, 2.4vw, 2.4em);
}

h4 {
    font-size: clamp(1.1em, 2.1vw, 2.1em);
}

h5 {
    font-size: clamp(1em, 2vw, 2em);
}

div > h1 {
    border: #23212c dashed 5px;
}

.animate {
    white-space: pre-wrap;
    color: #000000;
    font-family: "Roboto Mono", monospace;
    font-weight: 900;
    text-align: center;
    font-size: clamp(0.3em, 0.5vw, 0.5em);
    line-height: normal;
}

/* story section */
.story-number {
    font-family: var(--serif-font);
    font-weight: 900;
    color: #871328;
    padding: 1em;
    font-size: clamp(1em, 2vw, 2em);
}

/* tablet style */
@media (min-width: 768px) {

    /* nav item spacing */
    .nav-link {
        margin: 0 1em 0 1em;
    }
}

/* desktop style */
@media (min-width: 1200px) {
    

    /* nav item spacing */
    nav li:first-of-type {
        margin-right: auto;
        width: auto;
    }

    nav li:last-of-type {
        width: auto;
    }
}

footer svg {
    fill: #373A4A;
}